<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/result" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td>: <input type="text" name="name"></td>
        </tr>
        <tr>
            <td>E-mail </td>
            <td>: <input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>: <input type="text" name="phoneNumber"></td>
        </tr>
        <tr>
            <td>Message</td>
            <td>: <textarea name="Message" cols="30" rows="10"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="확인">
</form>
</body>
</html>